
body{
    margin: 0;
    padding: 0;
    
}
h1{
    color: white;
}
/* banner set start */
.banner:hover .banner-item img{
    transform: scale(1.2);
    transition: transform 2s ease;
}
.banner{
    position: absolute;
width: 1440px;
height: 677px;
left: -54px;
top: 20px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2d25a0;
}
.banner-item{
    display: flex;
    align-items: center;
    padding-top: 207px;
    padding-left: 156px;
}
#size{
    background-color: #E02C6D;
    margin-right: 5px;
    color: white;

}
.pic-size{
    width: 556.01px;
height: 438px;
left: 1299.01px;
top: 153px;
}
/* banner set end */
/* players information set start */
.top-player-container{
    background-color: white;
    padding-top: 750px;
    margin-right: 500px;
    margin-left: 100px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.player img{
    width: 330px;
    height: 474px;

}
.para-size{
    padding-right: 100px;
}
/* player information set end */
/* bonus part start */
.bonus-part{
    display: flex;
    margin-top: 80px;
}
.highlight-content{
    width: 466px;
height: 309px;
margin-top: 300px;
margin-left: 100px;

}
.hi-photo{
    width: 10%;
    height: 10%;
}
/* bonus part end */
/* footer set start */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 140px auto;
}
.footer-img img{
    width: 484px;
    margin-bottom: 20px;
}
.fab{
    margin-right: 14px;
    margin-bottom: 20px;
    font-size: 16px;
    background:lightgrey;
    padding: 8px;
    border-radius:50%
}
/* footer set end */
/* media queries */
/* mobile devices */
    @media only screen and (max-width:688){
        .top-player-container{
            width:100%;
         }
         .players .bonus-part{
             grid-template-columns: repeat(1,1fr);
         }
         .player .highlight-content .hi-photo{
             flex-direction: column;
         }


    }
        



