<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
</style>
body{
    margin: 0;
    padding: 0;
}

.banner{
    position: absolute;
width: 1440px;
height: 677px;
left: -54px;
top: 20px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2d25a0;
}
.banner-item{
    display: flex;
    align-items: center;
    padding-left: 156px;
    padding-top: 207px;
}
#size{
    color: white;
}
.pic-size{
    width: 556.01px;
height: 438px;
left: 1299.01px;
top: 153px;
}
.anchor-size{
    width: 168px;
height: 44px;
left: 156px;
top: 464px;
text-decoration: none;

background: #E02C6D;
}